<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>

    <!-- Calendar Stuff -->
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />

    <script src='fullcalendar/core/main.js'></script>
    <script src='fullcalendar/daygrid/main.js'></script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>